@import '_variable.scss';


.footer{
    height: 40vh;
    width: 100%;
    background-color: $Darkmoderatecyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .footer-logo{
        color: $Darkdesaturatedcyan;
        font-size: 30px;
    }
    ul{
        display: flex;
        li{
            list-style: none;
            color: rgba(255, 255, 255, 0.491);
            padding: 30px;
        }
    }
    .social-icons{
        img{
            padding: 10px;
        }
    }
}